<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloWorld" class="sg.com.java.jinjie.spring.HelloWorld"
		scope="singleton">
	</bean>

	<bean id="cStartEventHandler" class="sg.com.java.jinjie.spring.CStartEventHandler" />

	<bean id="cStopEventHandler" class="sg.com.java.jinjie.spring.CStopEventHandler" />

	<bean id="customEventHandler" class="sg.com.java.jinjie.spring.CustomEventHandler" />

	<bean id="customEventPublisher" class="sg.com.java.jinjie.spring.CustomEventPublisher" />

</beans>